{% extends 'cleaner/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block page %}
<style>
  .text-info{border-left-style:solid; border-left-width:5px; border-left-color:blue; padding:5px 5px 5px 10px; font-size:110%;}
  .box {border-radius: 5px; box-shadow: 1px 2px 10px silver; padding:10px;}
  .buttons{padding: 20px;}
  .btn-marginTop{margin-top:5px;}
  .container{margin:0 auto;}

  .btn-pos{
      padding:20px 31px;
      font-size:20px;
      border-radius:0px;
      margin-right:1px;
  }

</style>

    <div class="row">
      <div class="col-md-6">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-md-4"><span class="panel-title">Invoice Summary</span></div>
                      <div class="col-md-4"><span>Today is: 9/16/2017</span></div>
                      <!-- <div class="col-md-3 col-md-push-1"><span>Total Invoices - </span><span id="notification" class="badge">3</span></div> -->
                      <div class="col-md-3 col-md-push-1"><span class="panel-title">Invoice Id: {{invoice_id}}</span></div>
                  </div>
                  <div class="row">
                      <div class="col-md-4"><span class="panel-title" id="statusLabel">Status: ----</span></div>
                      <div class="col-md-4"><span id="scheduleLabel">PickUp: ----<br/>----<br/>DropOff:----<br/>----</span></div>
                  </div>
              </div>
              <div id="InvoiceSection" class="panel-body" style="max-height:320px; overflow:auto;">
                  <div id="emptyInvoiceMsg" class='text-warning'>Nothing ordered yet!</div>
                  <ul id="InvoiceMenu" class="list-group">
                    <!-- INOVICE ITEMS GO HERE -->
                  </ul>
              </div>
              <div class="panel-footer" >
                  <h3><span id="InvoiceTotal" class="label label-primary">Total: $0.00</span></h3>
                  <h3><span id="InvoicePieces" class="label label-primary">Total Pieces: 0</span></h3>
              </div>
              <div class="panel-footer" >
                  <div>
                      <button class="btn btn-default btn-marginTop invoice_editable" onClick="ClearInvoice();">Clear</button>
                      <button class="btn btn-danger btn-marginTop invoice_editable" id="saveBtn" onClick="SaveInvoice();">Save</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-6" id="pos_menu">
          <div class="panel panel-primary">
              <divf class="panel-body">
                  <ul id="myTab" class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#posItem" role="tab" data-toggle="tab">Item</a></li>
                      <li role="presentation"><a href="#food" role="tab" data-toggle="tab">Food</a></li>
                      <li role="presentation"><a href="#new" role="tab" data-toggle="tab">New Item</a></li>
                  </ul>
                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="posItem">
                      </div>

                      <div role="tabpanel" class="tab-pane" id="food">
                          <!-- <button class="btn btn-warning btn-pos btn-marginTop" data-ng-repeat="item in foods" data-ng-bind="item.name" data-ng-click="addToOrder(item,1)"></button> -->
                          <button class="btn btn-primary btn-pos btn-marginTop" onClick="addToOrder(99,1)">TEST</button>

                      </div>
                      <div role="tabpanel" class="tab-pane" id="new">
                          <br />
                          <form class="form" id="formCreate" data-toggle="validator">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="inputName" class="control-label">Name*</label>
                                  <input type="text" id="inputName" class="form-control" required>
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="inputPrice" class="control-label">Price*</label>
                                  <input type="number" id="inputPrice" class="form-control" required>
                                </div>
                              </div>

                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="inputPiece" class="control-label">Piece*</label>
                                  <input type="number" id="inputPiece" class="form-control" required>
                                </div>
                              </div>
                              <!-- <div class="col-md-3">
                                  <label>Category*</label>
                                  <select class="form-control" required>
                                      <option>Drinks</option>
                                      <option>Foods</option>
                                  </select>
                              </div> -->
                              <div class="col-md-1">
                                  <br />
                                  <!-- <button class="btn btn-default btn-marginTop" onClick="addNewItem();">Add</button> -->
                                  <button class="btn btn-default btn-marginTop" type="submit">Add</button>

                              </div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="panel-footer"></div>
          </div>
      </div>


    </div>

{% endblock %}

{% block bottom_scripts %}
<script src="{% static 'js/validator.min.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#myTab a").click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#formCreate').validator().on('submit', function(e) {
          if(e.isDefaultPrevented()){
            // handle the invalid form...
          } else {
            // everything looks good!
            //add to invoice and item list.
            // update invoiceMenu and display first tab.
            console.log('not implemented: add item to invoice and item list.')
          }
          event.preventDefault();
        })
    });



    var invoice = {
      invoice_id: {{invoice_id}},
      total: 0.00,
      pieces: 0,
      lineItems: [],

      data: function() {
        return JSON.stringify({
          invoice_id: this.invoice_id,
          invoice_details: this.lineItems.map(function(a) {
            return {
              item_id: a.itemId,
              quantity: a.quantity,
            };
          }),
        });
      },
      addLineItem: function(posItemId, quantity) {
        var posIndex = findWithAttr(posItems, "id", posItemId);
        var item = posItems[posIndex];
        var index = findWithAttr(this.lineItems, "itemId", posItemId);
        if(index < 0) {
          // add new.
          var itemToAdd = new createLineItem(item.id, item.name, quantity, item.piece_count, item.price);
          this.lineItems.push(itemToAdd);
        } else {
          // increment.
          this.lineItems[index].quantity += quantity;
          this.lineItems[index].subtotal = this.lineItems[index].quantity * this.lineItems[index].price;
        }
        this.updateInvoice();  // update total/pieces.
      },
      removeOneLineItem: function(itemIndex) {
        var index = findWithAttr(this.lineItems, 'itemId', itemIndex);
        if(index < 0) {
          console.log('no item in invoice to remove.');
        } else {
          if(this.lineItems[index].quantity > 1) {
            //decrement.
            this.lineItems[index].quantity -= 1;
            this.lineItems[index].subtotal = this.lineItems[index].quantity * this.lineItems[index].price;
          } else {
            // remove
            this.remove(itemIndex);
          }
        }
        this.updateInvoice();
      },
      remove: function(itemIndex){
        var index = findWithAttr(this.lineItems, 'itemId', itemIndex);
        if(index < 0) {
          console.log('item not found in invoice.');
        } else {
          // remove
          this.lineItems.splice(index,1);
        }
        this.updateInvoice();
      },
      clear: function() {
        this.lineItems = [];
        this.updateInvoice();
      },
      // update invoice
      updateInvoice: function(){
        var total = 0.00;
        var total_pieces = 0;
        $.each(this.lineItems, function(index, value) {
            total += value.subtotal;
            total_pieces += value.quantity * value.unit_piece_count;
        });
        this.total = total;
        this.pieces = total_pieces;
      }
    }

    function findWithAttr(array, attr, value) {
      for(var i = 0; i < array.length; i += 1) {
          if(array[i][attr] === value) {
              return i;
          }
      }
      return -1;
    }
    var posItems = []

    function createLineItem(id, name, quantity, piece_count, price) {
      this.itemId = id;
      this.name = name;
      this.quantity = quantity;
      this.price = price;
      this.subtotal = price * quantity;
      this.unit_piece_count = piece_count;
    }

    function createItem(id, name, price, piece_count){
      this.id = id;
      this.name = name;
      this.price = price;
      this.piece_count = piece_count;
    }

    function init(){
      initInvoice();
    }

    function formatDate(date) {
      var utc = date.toUTCString() // 'ddd, DD MMM YYYY HH:mm:ss GMT'
      console.log(utc);
      console.log(utc.slice(0, 4))
      console.log(utc.slice(8, 11))
      console.log(utc.slice(5, 8))
      console.log(utc.slice(12, 15))

      return "("+utc.slice(0, 3)+") " + utc.slice(8, 11) + ", " + utc.slice(5, 8) +" " + utc.slice(12, 16)  // '(Fri) Dec, 01 2017'
    }

    function initInvoice() {
      // get from python.  load invoice info from server here.
      // console.log('initInvoice() not implemented');
      $.ajax({
        url: '/api/cleaner/invoiceToEdit/' + {{invoice_id}},
        method: 'GET',
        success: function(data){
          console.log(data);

          // load pos_items.
          $.each(data["items"], function(index, item) {
            posItems.push(new createItem(item.id, item.name, item.price, item.piece_count));
          });
          updateItemMenuUI();

          // load invoice menu.
          if(data.invoice != null) {
            $("#statusLabel").text("Status: " + data.invoice.status);
            $('#scheduleLabel').html("PickUp: <br/>"+formatDate(new Date(data.invoice.pickup_date))+" "+data.invoice.pickup_period+"<br/>DropOff:<br/>"+formatDate(new Date(data.invoice.dropoff_date))+" "+data.invoice.dropoff_period);
            invoice.invoice_id = data.invoice.id;

            $.each(data.invoice.invoice_details, function(index, invoice_detail){
              addToOrder(invoice_detail.item.id, invoice_detail.quantity);
            });

            if(data.invoice.status != "Picked Up" && data.invoice.status != "Cleaning"){
              // hide pos_item menu.
              $('#pos_menu').hide();
              // disable edit buttons
              $('.invoice_editable').prop('disabled', true);
            }
          }
        }
      });



    }

    function addToOrder(itemId, quantity) {
      invoice.addLineItem(itemId, quantity);
      updateInvoiceUI();
    }
    function removeOneEntity(itemId) {
      invoice.removeOneLineItem(itemId);
      updateInvoiceUI();
    }
    function removeItem(itemId) {
      invoice.remove(itemId);
      updateInvoiceUI();
    }
    function ClearInvoice() {
      invoice.clear();
      updateInvoiceUI();
    }
    function SaveInvoice() {
      // disable view here.
      console.log('disable view before posting');

      $.ajax({
        url: '/api/cleaner/invoice/update-new/',
        method: 'POST',
        data: {
          csrfmiddlewaretoken: '{{csrf_token}}',
          invoice: invoice.data(),
        },
        success: function(data){
          if(data["status"] == "success"){
            console.log("successfully posted.");

            console.log("redirect to invoice view.");
            window.location.href= '/cleaner/invoice/';
          } else {
            console.log(data);
          }
        }
      });
    }


    function updateInvoiceUI(){

      var emptyMsg = $('#emptyInvoiceMsg');
      if(invoice.lineItems.length == 0) {
        emptyMsg.show();
        $('#saveBtn').prop('disabled', true);
      }
      else {
        emptyMsg.hide();
        $('#saveBtn').prop('disabled',false);
      }

      var invoiceMenu = $("#InvoiceMenu");
      invoiceMenu.empty();
      $.each(invoice.lineItems, function(index, lineItem) {
        var li = $('<li/>',{'class': 'list-group-item'})
        var divRow = $('<div/>', {'class': 'row'});
        li.append(divRow);

        var quantityLabel = $('<div/>', {'class': 'col-md-1'})
            .append($('<span/>', {'class': 'badge badge-left','text': lineItem.quantity}));
        divRow.append(quantityLabel);

        var nameLabel = $('<div/>', {'class': 'col-md-4', text: lineItem.name + (lineItem.unit_piece_count >1 ? ' ('+lineItem.unit_piece_count +' pcs)':'') });
        divRow.append(nameLabel);

        var unitPriceLabel = $('<div/>', {'class': 'col-md-1'})
            .append($('<div/>', {'class': 'label label-warning','text': 'USD $'+lineItem.price.toFixed(2)}));
        divRow.append(unitPriceLabel);

        var subtotalLabel = $('<div/>', {'class': 'col-md-1 col-md-push-1'})
            .append($('<div/>', {'class': 'label label-success','text': 'USD $'+lineItem.subtotal.toFixed(2)}));
        divRow.append(subtotalLabel);

        var buttons = $('<div/>', {'class': 'col-md-2 col-md-push-2'});
        var incrementBtn = $('<button/>', {'class': 'btn btn-success btn-xs invoice_editable', 'onClick': 'addToOrder('+ lineItem.itemId +',1)'})
                .append($('<span/>', {'class': 'glyphicon glyphicon-plus'}));
        var decrementBtn = $('<button/>', {'class': 'btn btn-warning btn-xs invoice_editable', 'onClick': 'removeOneEntity('+lineItem.itemId+')'})
                .append($('<span/>', {'class': 'glyphicon glyphicon-minus'}));
        buttons.append(incrementBtn).append(decrementBtn);
        divRow.append(buttons);

        buttons = $('<div/>', {'class': 'col-md-1 col-md-push-2'});
        var trashBtn = $('<button/>', {'class': 'btn btn-danger btn-xs invoice_editable', 'onClick': 'removeItem('+lineItem.itemId+')'})
                .append($('<span/>', {'class': 'glyphicon glyphicon-trash'}));
        buttons.append(trashBtn);
        divRow.append(buttons);

        invoiceMenu.append(li);
      });

      $('#InvoiceTotal').text('Total: USD $ ' + invoice.total.toFixed(2));
      $('#InvoicePieces').text('Pieces: ' + invoice.pieces);
    }

    function updateItemMenuUI() {
      var menu = $("#posItem");
      $.each(posItems, function(index, value) {
        var b = $('<button class="btn btn-primary btn-pos btn-marginTop" onClick="addToOrder(' + value.id + ', 1)"></button>');
        var piece = $('<span/>', {}).html(value.name + '<br/>' + value.piece_count + ' pcs<br/>');
        b.append(piece);
        menu.append(b);
      });
      return;
    }

		$(function() {
        init();
        updateItemMenuUI();
        updateInvoiceUI();
		});
</script>
{% endblock %}
